.about {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    color: var(--color--6);
    margin-bottom: 2em;
}

.about a{
    
    margin-top: 15px;
    padding: 10px 15px;
}

.about_text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.about_container {
    line-height: 1.3;
    
}

.about_text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.about img{
    display: flex;
    align-items: center;
    justify-content: center;
}

