.login {
    text-align: center;
    margin-top: 8vh;
}

.login p {
    color: var(--color--6);
}

.login button {
    width: 100%;
}

.resetPasswordLink {
    border: 1px solid var(--color--4);
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
}

.a {
    color: var(--color-link);
}