.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 20px auto;
  }
  
  .searchInput {
    
    font-size: 16px; /* Tamanho da fonte responsivo */
    border: 0.5px solid var(--color--5); /* Borda sutil */
    border-radius: 20px; /* Borda arredondada */
    outline: none;
    transition: border-color 0.3s; /* Transição suave para foco/hover */
  }
  
  .searchButton {
    position: absolute;
    right: 10px; /* Posição dentro do input */
    border: none;
    background-color: transparent; /* Sem fundo para integrar com o input */
    cursor: pointer;
    outline: none;
  }
  
  .searchButton svg {
    width: 24px; /* Tamanho do ícone */
    height: 24px;
    color: var(--color--5); /* Cor do ícone */
  }

.h3 {
    margin-left: 10px;
}

.home_h3 {
    border-right: 4px solid;
    width: 16ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(27),
    blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    30% {
        border-color: transparent;
    }
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

  .projects_scroll {
    display: flex;
    overflow-x: auto; /* Permite rolagem horizontal */
    -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos touch */
    gap: 10px; /* Espaço entre os cards */
    padding-bottom: 20px; /* Adiciona um padding para compensar a altura da scrollbar */
    margin-bottom: -20px; /* Move a scrollbar para "fora" da visualização do usuário */
    margin-left: 10px;
  }
  


  /* Estilo para os cards de projeto dentro da rolagem horizontal */
  .project_detail {
    flex: 0 0 auto; /* Impede que o card mude de tamanho */
    width: 300px; /* Define uma largura fixa para cada card */
    height: 200px;
  }
  
  /* Garanta que o contêiner .projects_scroll não tenha largura máxima restritiva */
  .projects_scroll {
    white-space: nowrap; /* Impede que os itens sejam quebrados em linhas novas */
  }

  /* Assegura que o contêiner da seção de projetos ocupe a largura total */
.projects_section {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Esconde o overflow horizontal do contêiner pai, se necessário */
    align-items: center;
  }

@media (max-width: 768px) {
    .home_h1 {
        font-size: 1.5em; /* Ajustando o tamanho da fonte para telas menores */
    }

    .projects_section {
    width: 100%;
    display: block;
    overflow: hidden; /* Esconde o overflow horizontal do contêiner pai, se necessário */
  }
    .searchInput {
      padding: 8px 70px; /* Menos padding em telas menores */
      font-size: 14px; /* Tamanho de fonte menor para economizar espaço */
    }
  
    .searchButton svg {
      width: 20px; /* Ícone menor */
      height: 20px;
    }
     
}




