
.post_container {
    text-align: center;
    max-width: 40%;
    margin: 50px auto;
    gap: 16px;
    background-color: var(--color--2);
    border-radius: 10px;
    padding: 16px;
    border: 1px solid var(--color--3);
    overflow: hidden; /* Adiciona isso para prevenir overflow */
}

.post_container h3 {
    margin-bottom: .2em;
}

.post_container .tags {
    display: flex;
    justify-content: center;
}

.post_container img {
    border-radius: 3px;
    max-width: 100%;
}

.p_body {
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    word-wrap: break-word; /* Adiciona isso para quebrar palavras longas */
    max-width: 100%; /* Garante que o conteúdo não exceda o container */
}

.btnAcess {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color--6);
    color: var(--color--2);
    border: none;
    margin: 10px;
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
}

.btnAcess:hover {
    background-color: var(--color--4);
}

.links {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.btnback {
    display: flex;
    align-items: center;
    margin: 5px;
    font-weight: bold;
    color: var(--color--6);
}


.tags p {
    margin-right: 1em;
}

.tags span {
    font-weight: bold;
}

/* Post.module.css */




/* Estilos para o fundo escurecido/translúcido */
.likesModal {
    position: fixed; /* Faz o modal aparecer sobre o conteúdo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582); /* Fundo translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que o modal fique acima de outros conteúdos */
}

/* Estilos para o conteúdo do modal */
.modalContent {
    background-color: rgba(0, 0, 0, 0.77);;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%; /* ou uma largura fixa, dependendo do design */
    max-width: 500px; /* Limita a largura máxima */
}

/* Estilo para o botão de fechar */
.closeModal {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.commentForm {
    border-top: 1px solid var(--color--3);
    margin-top: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textarea {
    width: 100%;
    border: none;
    background-color: var(--color--2);
}



@media (min-width: 768px) {

    .likeButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .likeButton svg {
        font-size: 1.7em;
    }
    
    .curtir {
        color: var(--color--5); /* Cor padrão do Twitter */
        transition: color 0.2s ease;
    }
    
    .curtir:hover{
        color: var(--color-link); /* Cor padrão do Twitter */
        transition: color 0.2s ease;
    }
    
    .descurtir {
        color: var(--color-link); /* Cor de curtido do Twitter */
        transition: color 0.2s ease;
    }
    
    .likesPreview {
        color: var(--color--5); /* Cor do texto padrão para prévia de likes no Twitter */
        font-size: 1em;
        cursor: pointer;
        display: flex;
    }
    
    .likesPreview:hover {
        text-decoration: underline;
    }
    
    
    .post_container {
        text-align: center;
        max-width: 100%;
        margin-top: -8vh;
        border: none;
        
    }

    .p_body {
        margin-right: 10px;
        margin-left: 10px;
    }

    .btnback {
        border-bottom: 1px solid var(--color--3);
        padding-bottom: 18px;
        font-size: large;
    }
    
}


@media (max-width: 768px) {

    .likeButton {
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .likeButton svg {
        font-size: 1.7em;
    }
    
    .curtir {
        color: var(--color--5); /* Cor padrão do Twitter */
        transition: color 0.2s ease;
    }
    
    .curtir:hover{
        color: var(--color-link); /* Cor padrão do Twitter */
        transition: color 0.2s ease;
    }
    
    .descurtir {
        color: var(--color-link); /* Cor de curtido do Twitter */
        transition: color 0.2s ease;
    }
    
    .likesPreview {
        color: var(--color--5); /* Cor do texto padrão para prévia de likes no Twitter */
        font-size: 1em;
        cursor: pointer;
        display: flex;
    }
    
    .likesPreview:hover {
        text-decoration: underline;
    }
    
    .post_container {
        text-align: center;
        max-width: 90%;
        margin-top: -0.3vh;
        gap: 16px;
        border-radius: 3px;
    }

    .p_body {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.modalComments {
    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-top: 20px;
}

.h3 {
    display: flex;
}

.buttonContainer {
    display: flex;
}

.commentButton {
    background: none;
    border: none;
    color: var(--color--5);
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .commentButton svg {
        font-size: 1.7em;
    }
    .commentButton svg:hover {
        color: var(--color-link);
    }


.commentsModalOverlay {
    position: fixed; /* Faz o overlay cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center; /* Centraliza o modal horizontalmente */
    align-items: center; /* Centraliza o modal verticalmente */
    z-index: 1000; /* Garante que o modal fique acima de outros conteúdos */
  }
  
  .commentsModal {
    background-color:  rgba(0, 0, 0, 0.77);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px; /* Ou qualquer largura que prefira */
    width: 90%; /* Adapta-se a telas menores */
    max-height: 80%; /* Altura máxima do modal */
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
    position: relative; /* Para posicionar o botão de fechar corretamente */
  }
  
  .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .commentsContent {
    margin-top: 20px;
  }
  
  .commentForm {
    display: flex;
    flex-direction: column;
  }
  
  .textarea {
    margin-bottom: 10px;
  }
  
  .btnSubmit {
    align-self: flex-end; /* Alinha o botão de enviar à direita */
  }